In [3]:
import sys
import pandas as pd

from src import load_clean_data, load_raw_data, plot_distributions,save_processed_data,detect_outliers, create_insightful_visuals, calculate_aggregated_metrics,  analyze_and_report_ab_test

sys.path.append("../src")
file_path  = '../data/raw/MachineLearningRating_v3.txt'
insurance_df = load_raw_data(file_path)
insurance_df.head()

INFO:src.utils.load_data:Loaded 1000098 records from ../data/raw/MachineLearningRating_v3.txt.

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,9.000000e-13
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.000000e+00
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.000000e+00
3,1452155,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.000000e+00
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.000000e+00

In [13]:
import  sys
sys.path.append("../src")
from scripts import  InsuranceModeling

try:
       # Initialize and run models
    modeler = InsuranceModeling(insurance_df)
       # 1. Train severity model
    severity_metrics = modeler.train_severity_model()

    # 2. Train probability model
    prob_metrics = modeler.train_probability_model()
except FileNotFoundError:
        print("Error: Dataset file not found. Please provide the correct path.")

INFO:scripts.predictive_model:Training claim severity model
INFO:scripts.predictive_model:Filtered for claims > 0. Remaining rows: 2789
WARNING:scripts.predictive_model:Column 'cubiccapacity' had non-numeric values coerced to NaN. These will be imputed.
WARNING:scripts.predictive_model:Column 'kilowatts' had non-numeric values coerced to NaN. These will be imputed.
WARNING:scripts.predictive_model:Column 'NumberOfDoors' had non-numeric values coerced to NaN. These will be imputed.
WARNING:scripts.predictive_model:Column 'CustomValueEstimate' had non-numeric values coerced to NaN. These will be imputed.
INFO:scripts.predictive_model:Severity model - RMSE: 16427.95, R2: 0.75
INFO:scripts.predictive_model:Training claim probability model
WARNING:scripts.predictive_model:Column 'cubiccapacity' had non-numeric values coerced to NaN. These will be imputed.
WARNING:scripts.predictive_model:Column 'kilowatts' had non-numeric values coerced to NaN. These will be imputed.
WARNING:scripts.predictive_model:Column 'NumberOfDoors' had non-numeric values coerced to NaN. These will be imputed.
WARNING:scripts.predictive_model:Column 'CustomValueEstimate' had non-numeric values coerced to NaN. These will be imputed.
WARNING:scripts.predictive_model:Column 'CapitalOutstanding' had non-numeric values coerced to NaN. These will be imputed.
INFO:scripts.predictive_model:Class distribution - Negative: 797871, Positive: 2207
INFO:scripts.predictive_model:Using scale_pos_weight: 361.52
INFO:scripts.predictive_model:Probability model metrics:
INFO:scripts.predictive_model:- Accuracy: 0.8085
INFO:scripts.predictive_model:- F1: 0.0242
INFO:scripts.predictive_model:- Precision: 0.0123
INFO:scripts.predictive_model:- Recall: 0.8179
INFO:scripts.predictive_model:- ROC AUC: 0.8970
INFO:scripts.predictive_model:
Classification Report:
INFO:scripts.predictive_model:              precision    recall  f1-score   support

           0       1.00      0.81      0.89    199438
           1       0.01      0.82      0.02       582

    accuracy                           0.81    200020
   macro avg       0.51      0.81      0.46    200020
weighted avg       1.00      0.81      0.89    200020

INFO:scripts.predictive_model:Saved confusion matrix plot